<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxgam.oracle.apps.fa.sumaria.inquiry.lov.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="XxGamDivisaVO"
      FullName="xxgam.oracle.apps.fa.sumaria.inquiry.lov.server.XxGamDivisaVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxGamInquiryLovAM"
      FullName="xxgam.oracle.apps.fa.sumaria.inquiry.lov.server.XxGamInquiryLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XxGamPeriodoVO"
      FullName="xxgam.oracle.apps.fa.sumaria.inquiry.lov.server.XxGamPeriodoVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxGamUnidadOperativaVO"
      FullName="xxgam.oracle.apps.fa.sumaria.inquiry.lov.server.XxGamUnidadOperativaVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
